In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv("data.csv")
df.head()

   Data
0     0
1     0
2     0
3     0
4     0

In [5]:
df[df["Data"]

      Data
0        0
1        0
2        0
3        0
4        0
...    ...
4898     0
4899     0
4900     0
4901     0
4902     0

[4903 rows x 1 columns]